body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #947927;
	background-color: #FFFFFF;
}
td {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #947927;
}
