<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans> 
    <!-- BaseManager -->
    <bean id="manager" class="gov.nih.nci.camod.service.impl.BaseManager"/>    
    
    <!-- CellLineManager -->
    <bean id="cellLineManager" class="gov.nih.nci.camod.service.impl.CellLineManagerImpl"/>
    
    <!-- EnvironmentalFactorManager -->
    <bean id="environmentalFactorManager" class="gov.nih.nci.camod.service.impl.EnvironmentalFactorManagerImpl"/>
    
    <!-- GeneDeliveryManager -->
    <bean id="geneDeliveryManager" class="gov.nih.nci.camod.service.impl.GeneDeliveryManagerImpl"/>
    
    <!-- GenomicSegmentManager -->
    <bean id="genomicSegmentManager" class="gov.nih.nci.camod.service.impl.GenomicSegmentManagerImpl"/>
    
    <!-- ImageManager -->
    <bean id="imageManager" class="gov.nih.nci.camod.service.impl.ImageManagerImpl"/>
    
    <!-- InducedMutationManager -->
    <bean id="inducedMutationManager" class="gov.nih.nci.camod.service.impl.InducedMutationManagerImpl"/>
    
    <!-- MicroArrayDataManager -->
    <bean id="microArrayDataManager" class="gov.nih.nci.camod.service.impl.MicroArrayDataManagerImpl"/>
    
    <!-- PersonManager -->
    <bean id="personManager" class="gov.nih.nci.camod.service.impl.PersonManagerImpl"/>
    
    <!-- PublicationManager -->
    <bean id="publicationManager" class="gov.nih.nci.camod.service.impl.PublicationManagerImpl"/>
    
    <!-- TargetedModificationManager -->
    <bean id="targetedModificationManager" class="gov.nih.nci.camod.service.impl.TargetedModificationManagerImpl"/>
    
    <!-- TherapyManager -->
    <bean id="therapyManager" class="gov.nih.nci.camod.service.impl.TherapyManagerImpl"/>
    
    <!-- TransgeneManager -->
    <bean id="transgeneManager" class="gov.nih.nci.camod.service.impl.TransgeneManagerImpl"/>
    
    <!-- XenograftManager -->
    <bean id="xenograftManager" class="gov.nih.nci.camod.service.impl.XenograftManagerImpl"/>
    
    <!-- AnimalModelManager -->
    <bean id="animalModelManager" class="gov.nih.nci.camod.service.impl.AnimalModelManagerImpl"/>
    
    <!-- TaxonManager -->
    <bean id="taxonManager" class="gov.nih.nci.camod.service.impl.TaxonManagerImpl"/>
    
    <!-- SexDistributionManager -->
    <bean id="sexDistributionManager" class="gov.nih.nci.camod.service.impl.SexDistributionManagerImpl"/>    
    
    <!-- curationManager -->
    <bean id="curationManager" class="gov.nih.nci.camod.service.impl.CurationManagerImpl"/>
</beans>
