<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!-- BaseManager -->
    <bean id="manager" class="gov.nih.nci.camod.service.impl.BaseManager"/> 
    
    <!-- agentManager -->
    <bean id="agentManager" class="gov.nih.nci.camod.service.impl.AgentManagerImpl"/>
    
    <!-- agentTargetManager -->
    <bean id="agentTargetManager" class="gov.nih.nci.camod.service.impl.AgentTargetManagerImpl"/> 

    <!--  animalAvailabilityManager -->
    <bean id="availabilityManager" class="gov.nih.nci.camod.service.impl.AvailabilityManagerImpl"/>    

    <!--  animalDistributorManager -->
    <bean id="animalDistributorManager" class="gov.nih.nci.camod.service.impl.AnimalDistributorManagerImpl"/>     

    <!-- animalModelManager -->
    <bean id="animalModelManager" class="gov.nih.nci.camod.service.impl.AnimalModelManagerImpl"/>
    
    <!-- biologicalProcessManager   -->    
    <bean id="biologicalProcessManager" class="gov.nih.nci.camod.service.impl.BiologicalProcessManagerImpl"/>

    <!-- cellLineManager -->
    <bean id="cellLineManager" class="gov.nih.nci.camod.service.impl.CellLineManagerImpl"/>
    
    <!-- chemicalClassManager   -->    
    <bean id="chemicalClassManager" class="gov.nih.nci.camod.service.impl.ChemicalClassManagerImpl"/>

    <!-- carcinogenExposureManager -->
    <bean id="carcinogenExposureManager" class="gov.nih.nci.camod.service.impl.CarcinogenExposureManagerImpl"/>

    <!-- clinicalMarkerManager -->
    <bean id="clinicalMarkerManager" class="gov.nih.nci.camod.service.impl.ClinicalMarkerManagerImpl"/>
           
    <!-- commentsManager -->
    <bean id="commentsManager" class="gov.nih.nci.camod.service.impl.CommentsManagerImpl"/>    

    <!--  engineeredTransgene -->
    <bean id="engineeredTransgeneManager" class="gov.nih.nci.camod.service.impl.EngineeredTransgeneManagerImpl"/>

    <!-- expressionLevelDescManager --> 
    <bean id="expressionLevelDescManager" class="gov.nih.nci.camod.service.impl.ExpressionLevelDescManagerImpl"/>
     
    <!-- environmentalFactorManager -->
    <bean id="environmentalFactorManager" class="gov.nih.nci.camod.service.impl.EnvironmentalFactorManagerImpl"/>
    
    <!-- geneDeliveryManager -->
    <bean id="geneDeliveryManager" class="gov.nih.nci.camod.service.impl.GeneDeliveryManagerImpl"/>
    
    <!-- genomicSegmentManager -->
    <bean id="genomicSegmentManager" class="gov.nih.nci.camod.service.impl.GenomicSegmentManagerImpl"/>
    
    <!-- histopathologyManager -->
    <bean id="histopathologyManager" class="gov.nih.nci.camod.service.impl.HistopathologyManagerImpl"/>    
    
    <!-- ImageManager -->
    <bean id="imageManager" class="gov.nih.nci.camod.service.impl.ImageManagerImpl"/>
    
    <!-- inducedMutationManager -->
    <bean id="inducedMutationManager" class="gov.nih.nci.camod.service.impl.InducedMutationManagerImpl"/>
    
    <!-- inducedMutationManager -->
    <bean id="logManager" class="gov.nih.nci.camod.service.impl.LogManagerImpl"/>
    
    <!-- microArrayDataManager -->
    <bean id="microArrayDataManager" class="gov.nih.nci.camod.service.impl.MicroArrayDataManagerImpl"/>

    <!--  transientInterferenceManager -->
    <bean id="transientInterferenceManager" class="gov.nih.nci.camod.service.impl.TransientInterferenceManagerImpl"/>    

    <!--  transientInterferenceMethodManager -->
    <bean id="transInterferenceMethodManager" class="gov.nih.nci.camod.service.impl.TransInterferenceMethodManagerImpl"/>    

    <!--  organManager -->
    <bean id="organManager" class="gov.nih.nci.camod.service.impl.OrganManagerImpl"/>    
    
    <!-- personManager -->
    <bean id="personManager" class="gov.nih.nci.camod.service.impl.PersonManagerImpl"/>
    
    <!-- publicationManager -->
    <bean id="publicationManager" class="gov.nih.nci.camod.service.impl.PublicationManagerImpl"/>
    
    <!-- targetedModificationManager -->
    <bean id="targetedModificationManager" class="gov.nih.nci.camod.service.impl.TargetedModificationManagerImpl"/>
    
    <!-- therapyManager -->
    <bean id="therapyManager" class="gov.nih.nci.camod.service.impl.TherapyManagerImpl"/>
    
    <!-- transgeneManager -->
    <bean id="transgeneManager" class="gov.nih.nci.camod.service.impl.TransgeneManagerImpl"/>
    
    <!-- speciesManager -->
    <bean id="speciesManager" class="gov.nih.nci.camod.service.impl.SpeciesManagerImpl"/>
    
    <!-- sexDistributionManager -->
    <bean id="sexDistributionManager" class="gov.nih.nci.camod.service.impl.SexDistributionManagerImpl"/>    

    <!--  spontaneousMutation -->
    <bean id="spontaneousMutationManager" class="gov.nih.nci.camod.service.impl.SpontaneousMutationManagerImpl"/>

    <!-- strainManager -->
    <bean id="strainManager" class="gov.nih.nci.camod.service.impl.StrainManagerImpl"/>

    
    <!-- treatmentManager -->
    <bean id="treatmentManager" class="gov.nih.nci.camod.service.impl.TreatmentManagerImpl"/>    
           
    <!-- userManager -->
    <bean id="userManager" class="gov.nih.nci.camod.service.impl.UserManagerImpl"/>
    
    <!--  associatedExpressionManager -->
    <bean id="associatedExpressionManager" class="gov.nih.nci.camod.service.impl.AssociatedExpressionManagerImpl"/>
    
    <!-- XenograftManager -->
    <bean id="xenograftManager" class="gov.nih.nci.camod.service.impl.XenograftManagerImpl"/>

    <!-- SavedQueryManager -->
    <bean id="savedQueryManager" class="gov.nih.nci.camod.service.impl.SavedQueryManagerImpl"/>    
           
    <!-- ResultSettingsManager -->
	<bean id="resultSettingsManager" class="gov.nih.nci.camod.service.impl.ResultSettingsManagerImpl"/>    
	
	<!-- StainingMethodManager -->
	<bean id="stainingMethodManager" class="gov.nih.nci.camod.service.impl.StainingMethodManagerImpl"/>    
	  
	         
</beans>
