body {
	font-family: Tohoma, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #CCCCFF;
	background-color: #333333;
}
td {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #CCCCFF;
}
A {
	color: #CCCCFF;
}

a:link {
	color: #CCCCFF;
}
a:visited {
	color: #CCCCFF;
}
a:hover {
	color: #CCCCFF;
}
a:active {
	color: #CCCCFF;
}

.highlightNode 
{
	background-color: #453762;	
}
