BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.hdrBG {
	BACKGROUND-COLOR: #a90101
}
.subhdrBG {
	BACKGROUND-COLOR: #475b82
}
.ftrTable {
	PADDING-TOP: 0.4em
}
TD.mainMenu {
	BORDER-TOP: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #5c5c5c
}
TD.mainMenuItem {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-WEIGHT: bold; FONT-SIZE: 0.6em; BACKGROUND-COLOR: #5c5c5c
}
TD.mainMenuItemOver {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-WEIGHT: bold; FONT-SIZE: 0.6em; BACKGROUND-COLOR: #475b82
}
TD.footerMenu {
	BORDER-TOP: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #5c5c5c
}
TD.footerMenuItem {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-WEIGHT: bold; FONT-SIZE: 0.6em; BACKGROUND-COLOR: #5c5c5c
}
TD.footerMenuItemOver {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-WEIGHT: bold; FONT-SIZE: 0.6em; BACKGROUND-COLOR: #475b82
}
TD.subMenu {
	FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #6e81a6
}
TD.subMenuPrimaryTitle {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0.8em; FONT-WEIGHT: bold; FONT-SIZE: 0.6em; COLOR: #ffffff; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #5c5c5c
}
TD.subMenuPrimaryItems {
	BORDER-RIGHT: #cccccc 1px solid; FONT-WEIGHT: bold;  PADDING-LEFT: 0.3em; FONT-SIZE: 0.7em; PADDING-BOTTOM: 0.8em; PADDING-TOP: 0.8em; BACKGROUND-COLOR: #ffffff
}
TD.subMenuPrimaryGreyTitle {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-LEFT: 0.8em; FONT-SIZE: 0.7em; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #E3E3EB
}
TD.subMenuSecondaryTitle {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-LEFT: 0.8em; FONT-WEIGHT: bold; FONT-SIZE: 0.6em; COLOR: #ffffff; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #6e81a6
}
TD.subMenuSecondaryTitleOver {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-LEFT: 0.8em; FONT-WEIGHT: bold; FONT-SIZE: 0.6em; COLOR: #ffffff; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #475b82
}
TD.subMenuFill {
	BORDER-RIGHT: #cccccc 1px solid
}
TD.subMenuFooter {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0.8em; FONT-WEIGHT: bold; FONT-SIZE: 0.6em; COLOR: #ffffff; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #5c5c5c
}

A.blueLink:link {
	COLOR: #000000; WHITE-SPACE: nowrap; TEXT-DECORATION: underline
}
A.blueLink:visited {
	COLOR: #000000; WHITE-SPACE: nowrap; TEXT-DECORATION: underline
}
A.blueLink:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #344C7A
}
A.blueLink:active {
	COLOR: #000000; WHITE-SPACE: nowrap; TEXT-DECORATION: underline
}

A.subMenuPrimary:link {
	COLOR: #5c5c5c; WHITE-SPACE: nowrap; TEXT-DECORATION: underline
}
A.subMenuPrimary:visited {
	COLOR: #5c5c5c; WHITE-SPACE: nowrap; TEXT-DECORATION: underline
}
A.subMenuPrimary:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #475B82
}
A.subMenuPrimary:active {
	COLOR: #5c5c5c; WHITE-SPACE: nowrap; TEXT-DECORATION: underline
}

A.subMenuSecondary:link {
	COLOR: #ffffff; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.subMenuSecondary:visited {
	COLOR: #ffffff; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.subMenuSecondary:hover {
	COLOR: #ffffff
}
A.subMenuSecondary:active {
	COLOR: #ffffff; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}

A.mainMenuLink:link {
	COLOR: #ffffff; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.mainMenuLink:visited {
	COLOR: #ffffff; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.mainMenuLink:active {
	COLOR: #ffffff; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.mainMenuLink:hover {
	COLOR: #ffffff
}

A.subMenuDarkRed:link {
	COLOR: #660000; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.submenuDarkRed:visited {
	COLOR: #660000; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.submenuDarkRed:active {
	COLOR: #660000; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.submenuDarkRed:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #660000
}

A.subMenuRed:link {
	COLOR: #FF0000; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.submenuRed:visited {
	COLOR: #FF0000; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.submenuRed:active {
	COLOR: #FF0000; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.submenuRed:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #FF0000
}

A.subMenuBlue:link {
	COLOR: #0000CC; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.subMenuBlue:visited {
	COLOR: #0000CC; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.subMenuBlue:active {
	COLOR: #0000CC; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.subMenuBlue:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #0000CC
}

A.subMenuMedRed:link {
	COLOR: #ff6666; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.subMenuMedRed:visited {
	COLOR: #ff6666; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.subMenuMedRed:active {
	COLOR: #ff6666; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.subMenuMedRed:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #ff6666
}

A:link {
	COLOR: #000000; WHITE-SPACE: nowrap; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #000000; WHITE-SPACE: nowrap; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #a90101
}
A:active {
	COLOR: #000000; WHITE-SPACE: nowrap; TEXT-DECORATION: underline
}

.masterTitle {
	cursor:pointer;
	margin-bottom: 5px;
	background-color:#B1B1F7;
	color:#000000;
	width:95%;
	padding:2px;
	text-align:left;
	font-weight:bold;
	border:1px solid #000000;
}
.masterTitleOver {
	cursor:pointer;
	margin-bottom: 5px;
	background-color:#E3E3F5;
	color:#000000;
	width:95%;
	padding:2px;
	text-align:left;
	font-weight:bold;
	border:1px solid #000000;
}

.criteriaTitle {
	cursor:pointer;
	margin-bottom: 5px;
	background-color:#B1B1F7;
	color:#000000;
	width:95%;
	padding:2px;
	text-align:left;
	font-weight:bold;
}
.criteriaTitleOver {
	cursor:pointer;
	margin-bottom: 5px;
	background-color:#E3E3F5;
	color:#000000;
	width:95%;
	padding:2px;
	text-align:left;
	font-weight:bold;
}

A.footerMenuLink:link {
	COLOR: #ffffff; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.footerMenuLink:visited {
	COLOR: #ffffff; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.footerMenuLink:active {
	COLOR: #ffffff; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.footerMenuLink:hover {
	COLOR: #ffffff
}
A.dataPagingLink:link {
	COLOR: #5c5c5c; WHITE-SPACE: nowrap; TEXT-DECORATION: underline
}
A.dataPagingLink:visited {
	COLOR: #5c5c5c; WHITE-SPACE: nowrap; TEXT-DECORATION: underline
}
A.dataPagingLink:active {
	COLOR: #5c5c5c; WHITE-SPACE: nowrap; TEXT-DECORATION: underline
}
A.dataPagingLink:hover {
	COLOR: #a90101; TEXT-DECORATION: underline
}
.formRequiredNotice {
	FONT-SIZE: 1em; BORDER-LEFT: #5c5c5c 1px solid; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}
.formRequiredLabel {
	BORDER-RIGHT: #5c5c5c 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 0.7em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB; TEXT-ALIGN: left
}
.formLabel {
	BORDER-RIGHT: #5c5c5c 1px solid; FONT-SIZE: 0.7em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB; TEXT-ALIGN: left
}

.formLabel2 {
	BORDER-RIGHT: #5c5c5c 1px solid; FONT-SIZE: 0.7em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB; TEXT-ALIGN: left
}

.formTitle {
	BORDER-RIGHT: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; PADDING-LEFT: 0.8em; FONT-WEIGHT: bold; FONT-SIZE: 0.8em; BORDER-LEFT: #5c5c5c 1px solid; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #5c5c5c
}

.formTitleBlue {
	BORDER-RIGHT: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; PADDING-LEFT: 0.8em; FONT-WEIGHT: bold; FONT-SIZE: 0.8em; BORDER-LEFT: #5c5c5c 1px solid; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #475b82
}

.formSubTitleBlue {
	BORDER: #5c5c5c 1px solid;
	PADDING-RIGHT: 0.8em;
	FONT-WEIGHT: bold;
	HEIGHT: 20px;	
	FONT-SIZE: 0.8em;
	PADDING-LEFT: 0.8em;
	COLOR: #ffffff;
	TEXT-ALIGN: LEFT;
	FONT-FAMILY: arial,helvetica,verdana,sans-serif;
	BACKGROUND-COLOR: #475b82
}

.formSubTitleBlueOver {
	BORDER: #5c5c5c 1px solid;
	HEIGHT: 20px;
	PADDING-RIGHT: 0.8em;	
	FONT-WEIGHT: bold;	
	FONT-SIZE: 0.8em;
	TEXT-ALIGN: LEFT;
	PADDING-LEFT: 0.8em;
	COLOR: #ffffff;
	FONT-FAMILY: arial,helvetica,verdana,sans-serif;
	BACKGROUND-COLOR: #0099FF
}

TD.formField {
	BORDER-RIGHT: #5c5c5c 1px solid; FONT-SIZE: 0.7em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}

TD.formFieldNone {
	FONT-SIZE: 0.7em; COLOR: #000000;  FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}

TD.formFieldLeftOnly {
	BORDER-LEFT: #5c5c5c 1px solid;
	FONT-SIZE: 0.7em; COLOR: #000000;  FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}
TD.formFieldRightOnly {
	BORDER-RIGHT: #5c5c5c 1px solid;
	FONT-SIZE: 0.7em; COLOR: #000000;  FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}
TD.formFieldRightLeftOnly {
	BORDER-LEFT: #5c5c5c 1px solid;
	BORDER-RIGHT: #5c5c5c 1px solid;
	FONT-SIZE: 0.7em; COLOR: #000000;  FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}
TD.formFieldBottomOnly {
	BORDER-BOTTOM: #5c5c5c 1px solid;
	FONT-SIZE: 0.7em; COLOR: #000000;  FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}
TD.formFieldTopOnly {
	BORDER-TOP: #5c5c5c 1px solid;
	FONT-SIZE: 0.7em; COLOR: #000000;  FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}
TD.formFieldTopBottomOnly {
	BORDER-TOP: #5c5c5c 1px solid;
	BORDER-BOTTOM: #5c5c5c 1px solid;
	FONT-SIZE: 0.7em; COLOR: #000000;  FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}
TD.formFieldLeftRightBottomOnly {
	BORDER-LEFT: #5c5c5c 1px solid;
	BORDER-RIGHT: #5c5c5c 1px solid;
	BORDER-BOTTOM: #5c5c5c 1px solid;
	FONT-SIZE: 0.7em; COLOR: #000000;  FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}
TD.formFieldAll {
	BORDER-LEFT: #5c5c5c 1px solid;
	BORDER-RIGHT: #5c5c5c 1px solid;
	BORDER-TOP: #5c5c5c 1px solid;
	BORDER-BOTTOM: #5c5c5c 1px solid;
	FONT-SIZE: 0.7em; COLOR: #000000;  FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}
TD.resultsBoxGrey {
	PADDING-LEFT: 0.8em; BORDER-LEFT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}
TD.resultsBoxWhite {
	PADDING-LEFT: 0.8em; BORDER-LEFT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #ffffff
}

TD.resultsBoxWhiteNoBottom {
	PADDING-LEFT: 0.8em; BORDER-LEFT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-RIGHT: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #ffffff
}

TD.resultsBoxWhiteOnlyTop {
	PADDING-LEFT: 0.8em;  FONT-SIZE: 0.8em; COLOR: #000000; BORDER-TOP: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #ffffff
}

TD.resultsBoxWhiteAlignRight {
	PADDING-LEFT: 0.8em; BORDER-LEFT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #ffffff ; text-align: right
}

TD.resultsBoxGreyEnd {
	PADDING-LEFT: 0.8em; BORDER-RIGHT: #5c5c5c 1px solid; BORDER-LEFT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}
TD.resultsBoxGreyEnd2 {
	PADDING-LEFT: 0.8em; BORDER-RIGHT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}

TD.resultsBoxGreyAllSides {
	PADDING-LEFT: 0.8em; BORDER-RIGHT: #5c5c5c 1px solid; BORDER-LEFT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}

TD.resultsBoxGreyBothEnd {
	PADDING-LEFT: 0.8em; BORDER-RIGHT: #5c5c5c 1px solid; BORDER-LEFT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}

TD.resultsBoxWhiteEnd {
	PADDING-LEFT: 0.8em; BORDER-RIGHT: #5c5c5c 1px solid; BORDER-LEFT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #ffffff
}

TD.resultsBoxWhiteAllSides {
	PADDING-LEFT: 0.8em; BORDER-RIGHT: #5c5c5c 1px solid; BORDER-LEFT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #ffffff
}

TD.resultsBoxWhiteAllSidesNoLeft {
	PADDING-LEFT: 0.8em; BORDER-RIGHT: #5c5c5c 1px solid;  BORDER-BOTTOM: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #ffffff
}

TD.resultsBoxWhiteEndAlignRight {
	PADDING-LEFT: 0.8em; BORDER-RIGHT: #5c5c5c 1px solid; BORDER-LEFT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #ffffff ; text-align: right
}

TD.resultsBoxWhiteNoEnd {
	PADDING-LEFT: 0.8em; BORDER-LEFT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #ffffff
}
TD.resultsBoxWhiteNoSides {
	PADDING-LEFT: 0.8em; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #ffffff
}

TD.resultsBoxGreyNoEnd {
	PADDING-LEFT: 0.8em; BORDER-LEFT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}
TD.resultsBoxGreyNoSides {
	PADDING-LEFT: 0.8em; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}

TD.resultsBoxWhiteNoStart {
	PADDING-LEFT: 0.8em; BORDER-RIGHT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #ffffff
}

TD.resultsBoxGreyNoStart {
	PADDING-LEFT: 0.8em; BORDER-RIGHT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}
TD.GreyBox {
	PADDING-LEFT: 0.8em; BORDER-LEFT: #5c5c5c 1px solid; BORDER-RIGHT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}
TD.GreyBoxTop {
	PADDING-LEFT: 0.8em; BORDER-LEFT: #5c5c5c 1px solid; BORDER-RIGHT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-TOP: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}
TD.loggedInBox {
	PADDING-LEFT: 0.7em; BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #5c5c5c 1px solid; FONT-SIZE: 0.7em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}
TD.loggedInBoxBorderless {
	 PADDING-RIGHT: 0.4em; PADDING-TOP: 0.4em; PADDING-LEFT: 0.4em; PADDING-BOTTOM: 0.4em; FONT-SIZE: 0.7em; COLOR: #000000; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}
TD.WhiteBox {
	PADDING-LEFT: 0.8em; BORDER-LEFT: #5c5c5c 1px solid; BORDER-RIGHT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #ffffff
}
TD.WhiteBoxNoEnd {
	PADDING-LEFT: 0.8em; BORDER-LEFT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #ffffff
}
TD.WhiteBoxFull {
	PADDING-LEFT: 0.8em; BORDER-LEFT: #5c5c5c 1px solid; BORDER-RIGHT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #ffffff
}

TD.GreyBoxRightEnd {
	PADDING-LEFT: 0.8em; BORDER-RIGHT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB ;empty-cells:show
}

TD.GreyBoxTopRightEnd {
	PADDING-LEFT: 0.8em; BORDER-RIGHT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-TOP: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB ;empty-cells:show
}

TD.WhiteBoxRightEnd {
	PADDING-LEFT: 0.8em; BORDER-RIGHT: #5c5c5c 1px solid; FONT-SIZE: 0.8em; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #ffffff ;empty-cells:show
}

TD.resultsBoxBlue {
	PADDING-LEFT: 0.8em; BORDER-RIGHT: #5c5c5c 1px solid; BORDER-LEFT: #5c5c5c 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 0.8em; COLOR: #ffffff; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #475b82
}

TD.resultsBox {
	PADDING-LEFT: 0.8em; FONT-WEIGHT: bold; FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BORDER: #5c5c5c 1px solid;
}

TD.formFieldLogin {
	FONT-SIZE: 0.7em; COLOR: #000000; FONT-FAMILY: arial,helvetica,verdana,sans-serif
}

TR.resultsRowGrey {
	PADDING-LEFT: 0.8em;  FONT-SIZE: 0.8em; COLOR: #000000;  FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB; empty-cells:show;
}

TR.resultsRowWhite {
	PADDING-LEFT: 0.8em;  FONT-SIZE: 0.8em; COLOR: #000000;  FONT-FAMILY: arial,helvetica,verdana,sans-serif; empty-cells:show;
}

INPUT.formField {
	BORDER-RIGHT: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; FONT-SIZE: 1em; BORDER-LEFT: #5c5c5c 1px solid; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #E3E3EB
}
INPUT.formFieldDisabled {
	BORDER-RIGHT: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; FONT-SIZE: 1em; BORDER-LEFT: #5c5c5c 1px solid; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif
}
INPUT.formFieldUnSizedDisabled {
	BORDER-RIGHT: #5c5c5c 1px solid;  PADDING-RIGHT: 0.3em; PADDING-TOP: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.3em;  BORDER-TOP: #5c5c5c 1px solid; FONT-SIZE: 1em; BORDER-LEFT: #5c5c5c 1px solid; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #CCCCCC
}

TEXTAREA.formField {
	BORDER-RIGHT: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; FONT-SIZE: 1em; BORDER-LEFT: #5c5c5c 1px solid; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif
}
SELECT.formField {
	BORDER-RIGHT: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; FONT-SIZE: 1em; BORDER-LEFT: #5c5c5c 1px solid; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif
}
SELECT.formFieldDisabled {
	BORDER-RIGHT: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; FONT-SIZE: 1em; BORDER-LEFT: #5c5c5c 1px solid; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #CCCCCC
}
INPUT.formFieldSized {
	BORDER-RIGHT: #5c5c5c 1px solid; PADDING-RIGHT: 0.3em; PADDING-TOP: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.3em; BORDER-TOP: #5c5c5c 1px solid; FONT-SIZE: 1em; BORDER-LEFT: #5c5c5c 1px solid; WIDTH: 25em; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif
}
INPUT.formFieldSizedEnabled {
	BORDER-RIGHT: #5c5c5c 1px solid; PADDING-RIGHT: 0.3em; PADDING-TOP: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.3em; BORDER-TOP: #5c5c5c 1px solid; FONT-SIZE: 1em; BORDER-LEFT: #5c5c5c 1px solid; WIDTH: 25em; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #FFFFFF
}
INPUT.formFieldSizedDisabled {
	BORDER-RIGHT: #5c5c5c 1px solid; PADDING-RIGHT: 0.3em; PADDING-TOP: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.3em; BORDER-TOP: #5c5c5c 1px solid; FONT-SIZE: 1em; BORDER-LEFT: #5c5c5c 1px solid; WIDTH: 25em; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #CCCCCC
}
INPUT.formFieldUnSized {
	BORDER-RIGHT: #5c5c5c 1px solid;  PADDING-RIGHT: 0.3em; PADDING-TOP: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.3em;  BORDER-TOP: #5c5c5c 1px solid; FONT-SIZE: 1em; BORDER-LEFT: #5c5c5c 1px solid; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif
}
TEXTAREA.formFieldSized {
	BORDER-RIGHT: #5c5c5c 1px solid; PADDING-RIGHT: 0.3em; PADDING-TOP: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.3em; BORDER-TOP: #5c5c5c 1px solid; FONT-SIZE: 1em; BORDER-LEFT: #5c5c5c 1px solid; WIDTH: 25em; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif
}
SELECT.formFieldSized {
	BORDER-RIGHT: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; FONT-SIZE: 1em; BORDER-LEFT: #5c5c5c 1px solid; WIDTH: 25em; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif
}
SELECT.formFieldSizedDisabled {
	BORDER-RIGHT: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; FONT-SIZE: 1em; BORDER-LEFT: #5c5c5c 1px solid; WIDTH: 25em; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #CCCCCC
}

INPUT.actionButton {
	BORDER-RIGHT: #5c5c5c 2px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #5c5c5c 2px solid
}
.formMessage {
	FONT-SIZE: 0.7em; COLOR: #000000; FONT-FAMILY: arial,helvetica,verdana,sans-serif
}
.normalForm {
	BORDER-RIGHT: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; BORDER-LEFT: #5c5c5c 1px solid; BORDER-BOTTOM: #5c5c5c 1px solid
}
.sidebarSection {
	FONT-SIZE: 0.7em; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #E3E3EB
}
.sidebarTitle {
	PADDING-LEFT: 0.8em; FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #ffffff; BACKGROUND-COLOR: #5c5c5c
}
.sidebarContent {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0.8em; PADDING-LEFT: 0.8em; FONT-SIZE: 1em; PADDING-BOTTOM: 0.8em; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0.8em
}
.sidebarLogin {
	PADDING-LEFT: 0.8em; FONT-SIZE: 0.7em
}
.dataTablePrimaryLabel {
	BORDER-RIGHT: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; PADDING-LEFT: 0.4em; FONT-WEIGHT: bold; FONT-SIZE: 0.8em; BORDER-LEFT: #5c5c5c 1px solid; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #5c5c5c
}
.dataTableSecondaryLabel {
	BORDER-RIGHT: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; PADDING-LEFT: 0.4em; FONT-WEIGHT: bold; FONT-SIZE: 0.7em; BORDER-LEFT: #5c5c5c 1px solid; COLOR: #5c5c5c; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #cccccc
}
.dataTableHeader {
	BORDER-RIGHT: #5c5c5c 1px solid; FONT-WEIGHT: bold; COLOR: #000000; BORDER-BOTTOM: #5c5c5c 1px solid; FONT-FAMILY: arial,helvetica,verdana,sans-serif; BACKGROUND-COLOR: #cccccc
}
.dataTable {
	BORDER-TOP: #5c5c5c 1px solid; FONT-SIZE: 0.7em; BORDER-LEFT: #5c5c5c 1px solid; COLOR: #000000; FONT-FAMILY: arial,helvetica,verdana,sans-serif
}
.dataRowLight {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.dataRowDark {
	COLOR: #000000; BACKGROUND-COLOR: #E3E3EB
}
.dataCellText {
	BORDER-RIGHT: #5c5c5c 1px solid; BORDER-BOTTOM: #5c5c5c 1px solid; TEXT-ALIGN: left
}
.dataCellNumerical {
	BORDER-RIGHT: #5c5c5c 1px solid; BORDER-BOTTOM: #5c5c5c 1px solid; TEXT-ALIGN: right
}
.dataPagingSection {
	BORDER-RIGHT: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; BORDER-LEFT: #5c5c5c 1px solid; BACKGROUND-COLOR: #E3E3EB
}
.dataPagingText {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; FONT-SIZE: 0.7em; COLOR: #5c5c5c; FONT-FAMILY: arial,helvetica,verdana,sans-serif
}
.actionSection {
	
}
TABLE.contentPage {
	FONT-SIZE: 0.7em; COLOR: #000000; FONT-FAMILY: arial,helvetica,verdana,sans-serif
}
TABLE.contentPagePadding {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.6em; COLOR: #5c5c5c; TEXT-ALIGN: center
}
.h2 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.6em; COLOR: #5c5c5c; TEXT-ALIGN: center
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em
}
.h3 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em
}
P {
	PADDING-LEFT: 1em
}
.p {
	PADDING-LEFT: 1em
}
.standardText {
	FONT-SIZE: 0.7em; COLOR: #000000; FONT-FAMILY: arial,helvetica,verdana,sans-serif
}
.bannerHome {
	BORDER-RIGHT: #cccccc 1px solid; BACKGROUND-COLOR: #475b82
}
.txtHighlight {
	COLOR: #a90101
}
.welcomeTitle {
	BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1em; FONT-WEIGHT: bold; FONT-SIZE: 0.7em; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}
.greySubTitleRight {
	BORDER-RIGHT: #5c5c5c 1px solid;  BORDER-BOTTOM: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; PADDING-LEFT: 1em; FONT-SIZE: 0.7em; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}

.greySubTitleRightAlignRight {
	BORDER-RIGHT: #5c5c5c 1px solid;  BORDER-BOTTOM: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; PADDING-LEFT: 1em; FONT-SIZE: 0.7em; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: right
}
.greySubTitleLeft {
	BORDER-LEFT: #5c5c5c 1px solid; BORDER-BOTTOM: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; PADDING-LEFT: 1em; FONT-SIZE: 0.7em; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}

.greySubTitleLeftNoTop {
	BORDER-LEFT: #5c5c5c 1px solid; BORDER-BOTTOM: #5c5c5c 1px solid; PADDING-LEFT: 1em; FONT-SIZE: 0.7em; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}

.greySubTitleLeftEnd {
	BORDER-LEFT: #5c5c5c 1px solid; BORDER-BOTTOM: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; BORDER-RIGHT: #5c5c5c 1px solid; PADDING-LEFT: 1em; FONT-SIZE: 0.7em; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}

.greySubTitleLeftEndNoTop {
	BORDER-LEFT: #5c5c5c 1px solid; BORDER-BOTTOM: #5c5c5c 1px solid; BORDER-RIGHT: #5c5c5c 1px solid; PADDING-LEFT: 1em; FONT-SIZE: 0.7em; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}

.greySubTitleAlignRightNoTop {
	BORDER-LEFT: #5c5c5c 1px solid; BORDER-BOTTOM: #5c5c5c 1px solid; PADDING-LEFT: 1em; FONT-SIZE: 0.7em; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #cccccc ; TEXT-ALIGN: right
}

.greySubTitleAlignRightEndNoTop {
	BORDER-LEFT: #5c5c5c 1px solid; BORDER-BOTTOM: #5c5c5c 1px solid; BORDER-RIGHT: #5c5c5c 1px solid; PADDING-LEFT: 1em; FONT-SIZE: 0.7em; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #cccccc ; TEXT-ALIGN: right
}

.greySubTitle {
	BORDER-LEFT: #5c5c5c 1px solid; BORDER-RIGHT: #5c5c5c 1px solid; BORDER-BOTTOM: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; PADDING-LEFT: 1em; FONT-SIZE: 0.7em; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}

.greySubTitleNoTop {
	BORDER-LEFT: #5c5c5c 1px solid; BORDER-RIGHT: #5c5c5c 1px solid; BORDER-BOTTOM: #5c5c5c 1px solid; PADDING-LEFT: 1em; FONT-SIZE: 0.7em; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}
.welcomeContent {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: 0.8em; PADDING-BOTTOM: 1em; LINE-HEIGHT: 1.5em; PADDING-TOP: 1em; FONT-FAMILY: arial,helvetica,verdana,sans-serif
}
IMG.img {
	BORDER-RIGHT: #5c5c5c 1px solid; BORDER-TOP: #5c5c5c 1px solid; BORDER-LEFT: #5c5c5c 1px solid; BORDER-BOTTOM: #5c5c5c 1px solid
}

#message { FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: arial,helvetica,verdana,sans-serif; }
#error { color: red; font-weight: bold; }
#errorsHeader { color: red; font-weight: bold; }

TD.textFormat {
	PADDING-LEFT: 0.8em; FONT-SIZE: 0.8em; COLOR: #000000;  FONT-FAMILY: arial,helvetica,verdana,sans-serif;
}

.keywordHighlight {
	BACKGROUND-COLOR: #FFFF00;
	COLOR: #000000;	                  
}

div.exportlinks {
	margin: -5px 0px 10px 10px;
	padding: 2px 4px 2px 0px;
	width: 400px;
}

div.exportlinks a {
	text-decoration: none;
}

div.exportlinks span {
	background-repeat: no-repeat;
}

span.csv {
	background-image: url(../images/ico_file_csv.png);
}

span.excel {
	background-image: url(../images/ico_file_excel.png);
}

span.pdf {
	background-image: url(../images/ico_file_pdf.png);
}

span.xml {
	background-image: url(../images/ico_file_xml.png);
}

span.export {
	cursor: pointer;
	display: inline;
	display: inline-block;
	padding: 0 4px 1px 20px;
}

span.pagebanner {
	display: block;
	margin: 10px 0px 0px 10px;
	padding: 2px 4px 2px 0px;
	width: 79%;
}

span.pagelinks {
	display: block;
	font-size: .95em;
	margin-bottom: 5px;
	margin-top: -18px;
	padding: 2px 0px 2px 0px;
	text-align: right;
	width: 80%;
}

table.list {
	border: 1px solid #5c5c5c;
	border-collapse: collapse;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
}


table.list th {
	background: #C0C0C0;
	color: #000000;
	padding: 2px;
	border-bottom: 1px solid #000000;
	text-align: left;
}

table.list th a, table.list th a:visited {
	background-color: transparent;
	color: #000000;
	text-decoration: none;
}

table.list th a:hover {
	background-color: transparent;
	color: #CC0000;
	text-decoration: overline underline;
}

th.sorted a, th.sortable a {
	background-position: right;
	display: block;
}

table.list th.order1 a {
	background-image: url(../images/arrow_down.png);
}

table.list th.order2 a {
	background-image: url(../images/arrow_up.png);
}

table.list th.sortable a {
	background-image: url(../images/arrow_off.png);
}

table.list th.sorted {
	background-color: #ffd;
	color: #000000;
}

table.list th.sorted a, table.list th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	display: block;
}

table.list th.sortable:hover {
	background: #FFFF40;
	color: #008000;
}

table.list thead tr {
	background-color: #FFCC00;
}

table.list tr.even {
	background: #EEEEEE;
	border-top: 1px solid #5c5c5c;
	color: #000000;
}

table.list tr.odd {
	background: #FFFFFF;
	border-top: 1px solid #5c5c5c;
	color: #000000;
}

/* highlight table row onmouseover */
table.list tr.over {
	background: #FFFF40;
	border-bottom: 1px solid #5c5c5c;
	border-top: 1px solid #5c5c5c;
	color: #000000;
	cursor: pointer;
	cursor: hand; /* IE 5.5 non-compliant workaround */
}

/* override width for user list */
table.userList {
	width: 80% !important;
}

table.activeUserList, body#activeUsers span.pagelinks {
    width: 450px !important;
}

/* --- AUTOCOMPLETE CSS --- */

.autocomplete {
  position: absolute;
  color: #333;
  background-color: #fff;
  border: 1px solid #666;
  font-family: Arial;
  overflow: hidden;
}

.autocomplete ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: auto;
}

.autocomplete li {
  display: block;
  white-space: nowrap;
  cursor: pointer;
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #fff;
}
.autocomplete li.selected {
  background-color: #cef;
  border-top: 1px solid #9bc;
  border-bottom: 1px solid #9bc;
}
